* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  max-width: 1120px;
  margin: auto;
}

@media (max-width: 1123px) {
  .container {
    max-width: 100%;
    padding: 0 40px;
  }
}

@media (max-width: 1024px) {
  .container {
    max-width: 100%;
    padding: 0 30px;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 100%;
    padding: 0 30px;
  }
}

@font-face {
  font-family: 'Proxima Nova Semibold';
  src: url("../fonts/ProximaNova-Semibold.eot");
  src: url("../fonts/ProximaNova-Semibold.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova-Semibold.woff") format("woff"), url("../fonts/ProximaNova-Semibold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova Light';
  src: url("../fonts/ProximaNova-Light.eot");
  src: url("../fonts/ProximaNova-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova-Light.woff") format("woff"), url("../fonts/ProximaNova-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova Light Italic';
  src: url("../fonts/ProximaNova-LightIt.eot");
  src: url("../fonts/ProximaNova-LightIt.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova-LightIt.woff") format("woff"), url("../fonts/ProximaNova-LightIt.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Corinthia';
  src: url("../fonts/corinthia.eot");
  src: url("../fonts/corinthia.eot?#iefix") format("embedded-opentype"), url("../fonts/corinthia.woff2") format("woff2"), url("../fonts/corinthia.woff") format("woff"), url("../fonts/corinthia.ttf") format("truetype");
}

body {
  font-family: 'Proxima Nova Light', sans-serif;
}

a {
  text-decoration: none;
  color: #000;
}

li {
  list-style: none;
}

h1, h2, h3, p, ul {
  margin: 0;
  padding: 0;
}

img {
  width: 100%;
  max-width: 560px;
}

.btn {
  border: 1px solid #000;
  font-size: 12px;
  font-family: 'Proxima Nova Semibold', sans-serif;
  text-transform: uppercase;
  padding: 15px 25px;
  background-color: transparent;
}

.btn:hover {
  background-color: #ff5b97;
  color: #fff;
  border: 1px solid #ff5b97;
}

.btn:active {
  background-color: #dd3b7c;
  color: #fff;
  border: 1px solid #dd3b7c;
}

.nav-modal {
  font-size: 12px;
  text-transform: uppercase;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav-modal > li {
  margin-bottom: 16px;
}

.nav-modal:last-child {
  margin-top: 25px;
}

.btn-menu {
  border: none;
  display: none;
}

.btn-menu:focus {
  outline: none;
}

.btn-menu svg {
  width: 35px;
  height: 35px;
  fill: #192b59;
}

.btn-close {
  border: none;
  background-color: transparent;
  position: absolute;
  font-size: 35px;
  font-weight: 200;
  color: #6e7ea9;
  right: 21px;
  top: 15px;
  opacity: 0.2;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.btn-close:hover {
  opacity: 1;
}

.btn-close:focus {
  outline: none;
}

.modal {
  position: fixed;
  z-index: 1000;
  top: 20px;
  right: 0;
  width: 100%;
  max-width: 200px;
  margin: 0 auto;
  text-align: center;
  background-color: #ff5b97;
  border: 1px solid #f1f1f1;
  padding: 30px 15px 40px 15px;
  -webkit-box-shadow: 0 5px 6px #f4f4f4;
          box-shadow: 0 5px 6px #f4f4f4;
  border-radius: 5px;
}

.section {
  padding-top: 120px;
}

.section-title {
  font-size: 25px;
  font-family: 'Proxima Nova Semibold', sans-serif;
  text-align: center;
}

@media (max-width: 1123px) {
  img {
    width: 50%;
  }
}

@media (max-width: 1000px) {
  .btn-menu {
    display: block;
    border: none;
    background-color: transparent;
  }
}

@media (max-width: 768px) {
  .section {
    padding-top: 70px;
  }
  img {
    width: 100%;
  }
}

@media (max-width: 320px) {
  .btn {
    font-size: 9px;
  }
  .section-title {
    font-size: 20px;
  }
}

.navbar__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 45px;
}

.navbar__logo {
  background: url(../img/navbar/logo.png) no-repeat;
  width: 218px;
  height: 34px;
}

.navbar__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navbar__box > .navbar__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-transform: uppercase;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.navbar__nav-link {
  list-style: none;
  font-size: 14px;
  font-family: 'Proxima Nova Semibold', sans-serif;
  color: #000;
  padding-right: 80px;
}

.navbar__nav-link a:hover {
  color: #ff5b97;
}

.navbar__nav-link:last-child {
  padding-right: 0;
}

@media (max-width: 1000px) {
  .navbar__nav-link {
    display: none;
  }
  .navbar__nav-item a {
    color: #fff;
    font-size: 13px;
    border-bottom: 1px solid #fff;
  }
}

@media (max-width: 320px) {
  .navbar__logo {
    background: url(../img/navbar/logo1.png) no-repeat;
    width: 150px;
    height: 24px;
  }
}

.atelier-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 40px;
}

.atelier__box {
  padding-top: 100px;
}

.atelier__head {
  font-size: 40px;
  font-family: 'Proxima Nova Semibold', sans-serif;
  padding-bottom: 60px;
}

.atelier__span {
  font-size: 42px;
  font-family: 'Corinthia', arial;
  color: #ff5b97;
}

.atelier__text {
  font-size: 15px;
  font-family: 'Proxima Nova Light', sans-serif;
  padding-top: 60px;
  padding-bottom: 50px;
}

@media (max-width: 1009px) {
  .atelier__head {
    font-size: 35px;
  }
}

@media (max-width: 768px) {
  .atelier-wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    max-width: 500px;
    margin: auto;
  }
  .atelier__box {
    margin: auto;
    text-align: center;
    padding: 50px 0;
  }
}

@media (max-width: 320px) {
  .atelier__head {
    font-size: 20px;
  }
  .atelier__span {
    font-size: 30px;
  }
  .atelier__text {
    font-size: 12px;
  }
}

.mother-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.mother__span {
  font-size: 37px;
  font-family: 'Corinthia', arial;
  color: #e50938;
}

.mother__head {
  font-size: 30px;
  font-family: 'Proxima Nova Semibold', sans-serif;
  padding-top: 30px;
}

.mother__text {
  font-size: 15px;
  font-family: 'Proxima Nova Light', sans-serif;
  padding-top: 80px;
}

.mother__text2 {
  font-size: 15px;
  font-family: 'Proxima Nova Light', sans-serif;
  padding: 20px 0;
}

.mother__block {
  padding-top: 130px;
  text-align: right;
}

@media (max-width: 768px) {
  .mother-wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    max-width: 500px;
    margin: auto;
  }
  .mother__block {
    margin: auto;
    text-align: center;
    padding: 50px 0;
  }
}

@media (max-width: 320px) {
  .mother__span {
    font-size: 25px;
  }
  .mother__head {
    font-size: 20px;
  }
  .mother__text, .mother__text2 {
    font-size: 12px;
  }
  .mother__text {
    padding-top: 40px;
  }
}

.sewing-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.sewing__span {
  font-size: 37px;
  font-family: 'Corinthia', arial;
  color: #e50938;
}

.sewing__head {
  font-size: 30px;
  font-family: 'Proxima Nova Semibold', sans-serif;
  padding-top: 30px;
}

.sewing__text {
  font-size: 15px;
  font-family: 'Proxima Nova Light', sans-serif;
  padding-top: 80px;
}

.sewing__text2 {
  font-size: 15px;
  font-family: 'Proxima Nova Light', sans-serif;
  padding: 20px 0;
}

.sewing__box {
  padding-top: 130px;
}

@media (max-width: 768px) {
  .sewing-wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    max-width: 560px;
    margin: auto;
  }
  .sewing__box {
    margin: auto;
    text-align: center;
    padding: 30px 0;
  }
}

@media (max-width: 320px) {
  .sewing__span {
    font-size: 30px;
  }
  .sewing__head {
    font-size: 18px;
  }
  .sewing__text {
    font-size: 12px;
  }
  .sewing__text2 {
    font-size: 11px;
  }
}

.schemework-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.schemework__box {
  text-align: center;
  padding-top: 70px;
  -ms-flex-preferred-size: 33.3%;
      flex-basis: 33.3%;
}

.schemework__img {
  margin: auto;
}

.schemework__img1 {
  background: url(../img/schemework/features_img.png) no-repeat;
  width: 48px;
  height: 51px;
}

.schemework__img2 {
  background: url(../img/schemework/features_img2.png) no-repeat;
  width: 58px;
  height: 50px;
}

.schemework__img3 {
  background: url(../img/schemework/features_img3.png) no-repeat;
  width: 36px;
  height: 53px;
}

.schemework__img4 {
  background: url(../img/schemework/features_img4.png) no-repeat;
  width: 50px;
  height: 50px;
}

.schemework__img5 {
  background: url(../img/schemework/features_img5.png) no-repeat;
  width: 42px;
  height: 52px;
}

.schemework__img6 {
  background: url(../img/schemework/features_img6.png) no-repeat;
  width: 50px;
  height: 45px;
}

.schemework__span {
  font-size: 14px;
  font-family: 'Proxima Nova Semibold', sans-serif;
  padding-top: 30px;
}

.schemework__text {
  font-size: 14px;
  font-family: 'Proxima Nova Light', sans-serif;
  padding-top: 25px;
}

@media (max-width: 650px) {
  .schemework__box {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
  }
}

@media (max-width: 430px) {
  .schemework-wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.box__text1 {
  font-size: 13px;
  font-family: 'Proxima Nova Light Italic', sans-serif;
  text-align: center;
  padding-top: 20px;
}

.box-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding-bottom: 70px;
}

.box__item {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  text-align: right;
  padding-right: 40px;
}

.box__image {
  background: url(../img/box/bg_box.png) no-repeat;
  width: 420px;
  height: 234px;
  margin-top: 80px;
}

.box__item2 {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  padding-left: 40px;
}

.box__block {
  padding-top: 70px;
}

.box__block:hover {
  border: 2px solid #e72867;
  cursor: pointer;
  padding: 15px;
}

.box__img1 {
  background: url(../img/box/box_img.png) no-repeat;
  width: 39px;
  height: 35px;
  margin-left: auto;
}

.box__img2 {
  background: url(../img/box/box_img2.png) no-repeat;
  width: 35px;
  height: 38px;
  margin-left: auto;
}

.box__img3 {
  background: url(../img/box/box_img3.png) no-repeat;
  width: 39px;
  height: 41px;
}

.box__img4 {
  background: url(../img/box/box_img4.png) no-repeat;
  width: 40px;
  height: 39px;
}

.box__span {
  font-size: 14px;
  font-family: 'Proxima Nova Semibold', sans-serif;
  padding: 20px 0;
}

.box__text {
  font-size: 14px;
  font-family: 'Proxima Nova Light', sans-serif;
}

@media (max-width: 1123px) {
  .box__image {
    background-size: contain;
    background-position: center;
  }
}

@media (max-width: 650px) {
  .box__item, .box__item2 {
    text-align: center;
  }
  .box__img {
    margin: auto;
  }
  .box__text {
    font-size: 12px;
  }
}

@media (max-width: 480px) {
  .box__image {
    display: none;
  }
}

@media (max-width: 320px) {
  .box-wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
  .box__item2 {
    padding-left: 0;
  }
  .box__img {
    margin: auto;
  }
  .box__item {
    text-align: center;
    padding-right: 0;
  }
}

.delivery__worldmap {
  background: url(../img/delivery/map.png) no-repeat;
  width: 100%;
  height: 457px;
}

.delivery__wrap {
  padding-top: 60px;
  padding-bottom: 80px;
}

@media (max-width: 1123px) {
  .delivery__worldmap {
    background-size: contain;
  }
}

@media (max-width: 1024px) {
  .delivery__worldmap {
    background-size: contain;
    background-position: center;
  }
}

@media (max-width: 768px) {
  .delivery__worldmap {
    background-size: contain;
    height: 400px;
  }
  .delivery__wrap {
    padding-bottom: 0;
  }
}

@media (max-width: 480px) {
  .delivery__worldmap {
    height: 300px;
  }
}

@media (max-width: 320px) {
  .delivery__worldmap {
    height: 200px;
  }
}

.yoursketches-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.yoursketches__box {
  padding-top: 120px;
  padding-top: 140px;
}

.yoursketches__head {
  font-size: 25px;
  font-family: 'Proxima Nova Semibold', sans-serif;
}

.yoursketches__text {
  font-size: 15px;
  font-family: 'Proxima Nova Light', sans-serif;
  padding: 40px 0 50px 0;
}

.yoursketches__form {
  font-size: 11px;
  width: 50%;
  padding: 15px;
  margin-top: 10px;
}

.yoursketches__arrow {
  background: url(../img/yoursketches/arrow.png) no-repeat;
  width: 17px;
  height: 15px;
}

.yoursketches__link {
  font-size: 11px;
  padding-left: 10px;
  font-family: 'Proxima Nova Light', sans-serif;
}

.yoursketches__file {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 20px;
}

.yoursketches__button {
  display: block;
  font-size: 11px;
  font-family: 'Proxima Nova Semibold', sans-serif;
  color: #ffffff;
  padding: 15px;
  border: 1px solid #be4973;
  background-color: #e32462;
  text-transform: uppercase;
  cursor: pointer;
  width: 50%;
}

.yoursketches__link:hover {
  color: #e32462;
  font-family: 'Proxima Nova Semibold', sans-serif;
}

.yoursketches__button:hover {
  border: 2px solid #a10d3d;
}

@media (max-width: 768px) {
  .yoursketches-wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    margin: auto;
    max-width: 560px;
  }
  .yoursketches__box {
    text-align: center;
    padding: 30px 0;
    margin: auto;
  }
  .yoursketches__file {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .yoursketches__button {
    margin: auto;
  }
}

@media (max-width: 320px) {
  .yoursketches__head {
    font-size: 18px;
  }
  .yoursketches__text {
    font-size: 10px;
  }
  .yoursketches__form {
    width: 70%;
  }
  .yoursketches__button {
    width: 70%;
  }
}
/*# sourceMappingURL=style.css.map */