* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  max-width: 1120px;
  margin: auto;
}

@font-face {
  font-family: 'Proxima Nova Semibold';
  src: url("../fonts/ProximaNova-Semibold.eot");
  src: url("../fonts/ProximaNova-Semibold.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova-Semibold.woff") format("woff"), url("../fonts/ProximaNova-Semibold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova Light';
  src: url("../fonts/ProximaNova-Light.eot");
  src: url("../fonts/ProximaNova-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova-Light.woff") format("woff"), url("../fonts/ProximaNova-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova Light Italic';
  src: url("../fonts/ProximaNova-LightIt.eot");
  src: url("../fonts/ProximaNova-LightIt.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova-LightIt.woff") format("woff"), url("../fonts/ProximaNova-LightIt.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Corinthia';
  src: url("../fonts/corinthia.eot");
  src: url("../fonts/corinthia.eot?#iefix") format("embedded-opentype"), url("../fonts/corinthia.woff2") format("woff2"), url("../fonts/corinthia.woff") format("woff"), url("../fonts/corinthia.ttf") format("truetype");
}

body {
  font-family: 'Proxima Nova Light', sans-serif;
}

a {
  text-decoration: none;
  color: #000;
}

h1, h2, h3, p, ul {
  margin: 0;
  padding: 0;
}

.btn {
  border: 1px solid #000;
  font-size: 12px;
  font-family: 'Proxima Nova Semibold', sans-serif;
  text-transform: uppercase;
  padding: 15px 25px;
  background-color: transparent;
}

.btn:hover {
  background-color: #ff5b97;
  color: #fff;
  border: 1px solid #ff5b97;
}

.btn:active {
  background-color: #dd3b7c;
  color: #fff;
  border: 1px solid #dd3b7c;
}

.section {
  padding-top: 120px;
}

.section-title {
  font-size: 25px;
  font-family: 'Proxima Nova Semibold', sans-serif;
  text-align: center;
}

.bg-box {
  padding-top: 120px;
}

.navbar__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 45px;
}

.navbar__logo {
  background: url(../img/navbar/logo.png) no-repeat;
  width: 218px;
  height: 34px;
}

.navbar__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-transform: uppercase;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar__nav-link {
  list-style: none;
  font-size: 14px;
  font-family: 'Proxima Nova Semibold', sans-serif;
  color: #000;
  padding-right: 90px;
}

.navbar__nav-link:hover {
  color: #ff5b97;
}

.navbar__nav-link:last-child {
  padding-right: 0;
}

.atelier-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 40px;
}

.atelier__box {
  padding-top: 100px;
}

.atelier__head {
  font-size: 40px;
  font-family: 'Proxima Nova Semibold', sans-serif;
  padding-bottom: 60px;
}

.atelier__span {
  font-size: 42px;
  font-family: 'Corinthia', arial;
  color: #ff5b97;
}

.atelier__text {
  font-size: 15px;
  font-family: 'Proxima Nova Light', sans-serif;
  padding-top: 60px;
  padding-bottom: 50px;
}

.atelier__img {
  background: url(../img/atelier/img_block.png) no-repeat;
  width: 560px;
  height: 634px;
}

.mother-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.mother__img {
  background: url(../img/YouandDaughter/float_left.png) no-repeat;
  width: 560px;
  height: 626px;
}

.mother__span {
  font-size: 37px;
  font-family: 'Corinthia', arial;
  color: #e50938;
}

.mother__head {
  font-size: 30px;
  font-family: 'Proxima Nova Semibold', sans-serif;
  padding-top: 30px;
}

.mother__text {
  font-size: 15px;
  font-family: 'Proxima Nova Light', sans-serif;
  padding-top: 80px;
}

.mother__text2 {
  font-size: 15px;
  font-family: 'Proxima Nova Light', sans-serif;
  padding: 20px 0;
}

.mother__block {
  padding-top: 130px;
  text-align: right;
}

.sewing-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.sewing__img {
  background: url(../img/sewing/sewing_img.png) no-repeat;
  width: 560px;
  height: 626px;
}

.sewing__span {
  font-size: 37px;
  font-family: 'Corinthia', arial;
  color: #e50938;
}

.sewing__head {
  font-size: 30px;
  font-family: 'Proxima Nova Semibold', sans-serif;
  padding-top: 30px;
}

.sewing__text {
  font-size: 15px;
  font-family: 'Proxima Nova Light', sans-serif;
  padding-top: 80px;
}

.sewing__text2 {
  font-size: 15px;
  font-family: 'Proxima Nova Light', sans-serif;
  padding: 20px 0;
}

.sewing__box {
  padding-top: 130px;
}

.schemework-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: auto;
}

.schemework__box {
  text-align: center;
  padding-top: 70px;
  -ms-flex-preferred-size: 33.3%;
      flex-basis: 33.3%;
}

.schemework__img {
  margin: auto;
}

.schemework__img1 {
  background: url(../img/schemework/features_img.png) no-repeat;
  width: 48px;
  height: 51px;
}

.schemework__img2 {
  background: url(../img/schemework/features_img2.png) no-repeat;
  width: 58px;
  height: 50px;
}

.schemework__img3 {
  background: url(../img/schemework/features_img3.png) no-repeat;
  width: 36px;
  height: 53px;
}

.schemework__img4 {
  background: url(../img/schemework/features_img4.png) no-repeat;
  width: 50px;
  height: 50px;
}

.schemework__img5 {
  background: url(../img/schemework/features_img5.png) no-repeat;
  width: 42px;
  height: 52px;
}

.schemework__img6 {
  background: url(../img/schemework/features_img6.png) no-repeat;
  width: 50px;
  height: 45px;
}

.schemework__span {
  font-size: 14px;
  font-family: 'Proxima Nova Semibold', sans-serif;
  padding-top: 30px;
}

.schemework__text {
  font-size: 14px;
  font-family: 'Proxima Nova Light', sans-serif;
  padding-top: 25px;
}

.box__text1 {
  font-size: 13px;
  font-family: 'Proxima Nova Light Italic', sans-serif;
  text-align: center;
  padding-top: 20px;
}

.box-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding-bottom: 70px;
}

.box__item {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  text-align: right;
  padding-right: 40px;
}

.box__item2 {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  padding-left: 40px;
}

.box__block {
  padding-top: 70px;
}

.box__block:hover {
  border: 2px solid #e72867;
  cursor: pointer;
  padding: 15px;
}

.box__img1 {
  background: url(../img/box/box_img.png) no-repeat;
  width: 39px;
  height: 35px;
  margin-left: auto;
}

.box__img2 {
  background: url(../img/box/box_img2.png) no-repeat;
  width: 35px;
  height: 38px;
  margin-left: auto;
}

.box__img3 {
  background: url(../img/box/box_img3.png) no-repeat;
  width: 39px;
  height: 41px;
}

.box__img4 {
  background: url(../img/box/box_img4.png) no-repeat;
  width: 40px;
  height: 39px;
}

.box__span {
  font-size: 14px;
  font-family: 'Proxima Nova Semibold', sans-serif;
  padding: 20px 0;
}

.box__text {
  font-size: 14px;
  font-family: 'Proxima Nova Light', sans-serif;
}

.delivery__worldmap {
  background: url(../img/delivery/map.png) no-repeat;
  width: 1147px;
  height: 457px;
  position: relative;
}

.delivery__heart {
  background: url(../img/delivery/heart.png) no-repeat;
  width: 44px;
  height: 39px;
  position: absolute;
  left: 57%;
  top: 15%;
  cursor: pointer;
}

.delivery__wrap {
  padding-top: 60px;
  padding-bottom: 80px;
}

.delivery__dot {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #e72867;
  cursor: pointer;
}

.delivery__dot1 {
  position: absolute;
  left: 47.5%;
  top: 35%;
}

.delivery__dot2 {
  position: absolute;
  left: 59%;
  top: 50%;
}

.delivery__dot3 {
  position: absolute;
  left: 54.5%;
  top: 28%;
}

.delivery__dot4 {
  position: absolute;
  left: 35.5%;
  top: 61%;
}

.delivery__dot5 {
  position: absolute;
  left: 36%;
  top: 10%;
}

.yoursketches-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.yoursketches__box {
  padding-top: 120px;
  padding-top: 140px;
}

.yoursketches__head {
  font-size: 25px;
  font-family: 'Proxima Nova Semibold', sans-serif;
}

.yoursketches__text {
  font-size: 15px;
  font-family: 'Proxima Nova Light', sans-serif;
  padding: 40px 0 50px 0;
}

.yoursketches__img {
  background: url(../img/yoursketches/yoursketches_img.png) no-repeat;
  width: 560px;
  height: 631px;
}

.yoursketches__form {
  font-size: 11px;
  font-family: 'Proxima Nova Light', sans-serif;
  width: 50%;
  padding: 15px;
  margin-top: 10px;
}

.yoursketches__arrow {
  background: url(../img/yoursketches/arrow.png) no-repeat;
  width: 17px;
  height: 15px;
}

.yoursketches__link {
  font-size: 11px;
  padding-left: 10px;
  font-family: 'Proxima Nova Light', sans-serif;
}

.yoursketches__file {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 20px;
}

.yoursketches__button {
  display: block;
  font-size: 11px;
  font-family: 'Proxima Nova Semibold', sans-serif;
  color: #ffffff;
  padding: 15px;
  border: 1px solid #be4973;
  background-color: #e32462;
  text-transform: uppercase;
  cursor: pointer;
  width: 50%;
}

.yoursketches__link:hover {
  color: #e32462;
  font-family: 'Proxima Nova Semibold', sans-serif;
}

.yoursketches__button:hover {
  border: 2px solid #a10d3d;
}
/*# sourceMappingURL=style.css.map */