.box
  &__text1
    font-size: 13px
    +LightItalic
    text-align: center
  &-wrap
    display: flex
    justify-content: space-around
    padding-bottom: 120px
  &__item
    flex-basis: 50%
    text-align: right
    padding-right: 40px
  &__item2
    flex-basis: 50%
    padding-left: 40px
  &__block
    padding-top: 70px
  &__img1
    background: url(../img/box/box_img.png) no-repeat
    width: 39px
    height: 35px
    margin-left: auto
  &__img2
    background: url(../img/box/box_img2.png) no-repeat
    width: 35px
    height: 38px
    margin-left: auto
  &__img3
    background: url(../img/box/box_img3.png) no-repeat
    width: 39px
    height: 41px
  &__img4
    background: url(../img/box/box_img4.png) no-repeat
    width: 40px
    height: 39px
  &__span
    font-size: 14px
    +semibold
    padding: 20px 0
  &__text
    font-size: 14px
    +light
