.delivery
  &__worldmap
    background: url(../img/delivery/map.png) no-repeat
    width: 100%
    height: 457px
  &__wrap
    padding-top: 60px
    padding-bottom: 80px
@media (max-width: 1123px)
  .delivery 
    &__worldmap
      background-size: contain
@media (max-width: 1024px)
  .delivery 
    &__worldmap
      background-size: contain
      background-position: center
@media (max-width: 768px)
  .delivery
    &__worldmap
      background-size: contain
      height: 400px
    &__wrap
      padding-bottom: 0
@media (max-width: 480px)
  .delivery 
    &__worldmap
      height: 300px
@media (max-width: 320px)
  .delivery 
    &__worldmap
      height: 200px

       
