.navbar
&-wrap
  display: flex
  justify-content: space-between
&__logo
  background: url(../img/navbar/logo.png) no-repeat
  width: 218px
  height: 34px
&__menu
  max-width: 600px
  justify-content: space-between
  text-transform: uppercase
