.sewing
  &-wrap
    display: flex
    justify-content: space-between
  &__img
    background: url(../img/sewing/sewing_img.png) no-repeat
    width: 560px
    height: 626px
  &__span
    font-size: 37px
    +Corinthia
    color: #e50938
  &__head
    font-size: 30px
    +semibold
    padding-top: 30px
  &__text
    font-size: 15px
    +light
    padding-top: 80px
  &__text2
    font-size: 15px
    +light
    padding: 20px 0
  &__box
    padding-top: 130px
